@page "/chat/{ContactId}"
@page "/chat"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<style>


    .mud-badge.mud-badge-top.right {
        background-color: lightskyblue !important;
        inset: auto auto calc(100% - 18px) calc(100% - 18px) !important;
    }

    .mud-list-item.mud-list-item-gutters.mud-list-item-clickable.mud-ripple.pa-0.px-2.selectedChat {
        background-color: var(--mud-palette-background-grey);
        border-radius: 20px;
    }

</style>

<MudOverlay LightBackground=true Visible="isVisible" Absolute="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>

<div class="d-flex flex-grow-1 flex-row">
    <MudPaper Elevation="25" Class="py-4 flex-grow-1">
        <MudToolBar Dense="true">
            @if (string.IsNullOrEmpty(ContactId))
            {
                <MudIcon Icon="@Icons.Material.Outlined.Person" Style="margin-right:10px"></MudIcon>
                <MudText Typo="Typo.h6">Chat</MudText>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.ChatBubble" Style="margin-right:10px"></MudIcon>
                <MudText Typo="Typo.h6">@ContactName</MudText>
            }
        </MudToolBar>
        <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;" id="chatContainer">
            @foreach (var message in messages)
            {
                if (message.FromUserId == CurrentUserId)
                {
                    <div class="d-flex ml-auto flex-row my-4">
                        <div class="mr-4">
                            <MudAvatar Color="Color.Secondary" Variant="Variant.Outlined" Style="height:50px; width:50px;">@message.FromUser.Name.ToUpper().FirstOrDefault()</MudAvatar>
                        </div>
                        <div>
                            <MudText Typo="Typo.body1">@message.FromUser.Name</MudText>
                            <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                            <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Message</MudText>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex mr-auto flex-row my-4">
                        <div class="mr-4">
                            <MudAvatar Color="Color.Primary" Variant="Variant.Outlined" Style="height:50px; width:50px;">@message.FromUser.Name.ToUpper().FirstOrDefault()</MudAvatar>
                        </div>
                        <div>
                            <MudText Typo="Typo.body1">@message.FromUser.Name</MudText>
                            <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                            <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Message</MudText>
                        </div>
                    </div>
                }

            }
        </div>
        @if (!string.IsNullOrEmpty(ContactId))
        {
            <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="">
                <MudTextField T="string" Placeholder="Enter your message..." @bind-Value=CurrentMessage Immediate=true OnKeyUp="((args)=>Enter(args))" Class="mt-n2 mx-4" />
                <MudButton Disabled="IsSendDisabled" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button" OnClick="SubmitAsync">Send</MudButton>
            </MudPaper>
        }
    </MudPaper>



    <MudPaper Elevation="25" Class="pa-3 ml-6" MinWidth="350px">
        <MudToolBar Dense="true">
            <MudText Typo="Typo.h6" Inline="true" Class="mr-2">#</MudText>
            <MudText Typo="Typo.h6">Contacts</MudText>
        </MudToolBar>
        <div class="d-flex flex-column px-4" style="max-height:70vh;min-height:70vh; overflow:scroll;">
            <MudList Clickable="true">
                @foreach (var user in ChatUsers)
                {
                    @if (user.Id == ContactId)
                    {
                        <MudListItem Class="pa-0 px-2 selectedChat" OnClick="@(() => LoadUserChat(user.Id))">
                            <div class="d-flex flex-row mt-n1 mb-n1 ">
                                <div class="mr-4">
                                    <MudBadge Class="badge-pr mx-6 my-4" Visible=false>
                                        <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">@user.Name.ToUpper().FirstOrDefault()</MudAvatar>
                                    </MudBadge>
                                </div>
                                <div>
                                    <MudText Typo="Typo.subtitle2" Class="mt-3 font-weight-bold">@user.Name</MudText>
                                    <MudText Typo="Typo.caption" Style="margin-top:10px;" Class="mb-n2">@user.Email</MudText>
                                </div>
                            </div>                           
                        </MudListItem>
                    }
                    else
                    {

                        <MudListItem Class="pa-0 px-2 " OnClick="@(() => LoadUserChat(user.Id))">
                            <div class="d-flex flex-row mt-n1 mb-n1">
                                <div class="mr-4">

                                    @if (user.UnreadCount > 0)
                                    {
                                        <MudBadge Content="user.UnreadCount" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                                            <MudAvatar Color="Color.Primary" Style="height:50px; width:50px;">@user.Name.ToUpper().FirstOrDefault()</MudAvatar>
                                        </MudBadge>
                                    }
                                    else
                                    {
                                        <MudBadge Class="mx-6 my-4" Visible=false>
                                            <MudAvatar Color="Color.Primary" Style="height:50px; width:50px;">@user.Name.ToUpper().FirstOrDefault()</MudAvatar>
                                        </MudBadge>
                                    }
                                </div>
                                <div>
                                    <MudText Typo="Typo.subtitle2" Class="mt-3 font-weight-bold">@user.Name</MudText>
                                    <MudText Typo="Typo.caption" Style="margin-top:10px;" Class="mb-n2">@user.Email</MudText>
                                    <MudText Typo="Typo.caption" Style="margin-top:10px;" Class="mb-n2">@abc</MudText>
                                </div>
                            </div>
                        </MudListItem>
                    }
                }
                <MudText Typo="Typo.caption" Style="margin-top:10px;" Class="mb-n2">@abc</MudText>
            </MudList>
        </div>
    </MudPaper>
</div>